.searchBox {
  margin: 40px;
  width: 300px;
  display: flex;
  font-size: 18px;
  flex-direction: column;
}

.label {
  display: flex;
  flex-direction: column;
  font-weight: 500;
  margin-bottom: 8px;
}

.searchInput {
  width: 100%;
  padding: 8px;
  font-size: 16px;
  border-radius: 8px;
}

