.contactItem {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 8px 12px;
  margin-bottom: 8px;
  border: 1px solid #ddd;
  border-radius: 6px;
  background-color: #f9f9f9;
  font-size: 1rem;
}

.contactText {
  font-size: 16px;
  font-weight: 500;
}

button {
  background-color: #8830e7;
  color: #fff;
  width: 100px;
  border: none;
  padding: 6px 12px;
  border-radius: 8px;
  cursor: pointer;
  font-size: 13px;
  transition: background-color 0.3s ease;
}

.button:hover {
  background-color: #622184;
}
