.contactList {
  list-style: none;          
  padding-left: 40px;
  display: flex; 
  flex-direction: column;  
  gap: 12px;    
  width: 200px;            
}

.contactItem {
  background-color: #5f5d5d; 
  border: 1px solid #ddd;    
  border-radius: 8px;        
  padding: 12px 16px;
  cursor: pointer;
}

